.top-bar{
  z-index: 0;
}

.login-section {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d5ead5;
      padding: 0 6%;
      z-index: 10000;

    
      .banner-image {
          height: 100%;
          width: 100%;
          min-width: 500px;
          background: #5FA8F9;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          filter: brightness(0.7);
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;

      }
    
      .register-form-container {
          min-width: 300px;
          padding: 50px 50px;
          z-index: 100;
          background-color: #C4DDF9;
          border-radius: 5px;
          box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
          h1 {
              color: green;
              text-align: center;
          }
    
          form {
              display: flex;
            //   flex-direction: row;
              gap: 40px;
            
              
              backdrop-filter: blur(10px);
              
                  .label {
                      display: inline-block;
                      cursor: pointer;
                      border: 1px dashed rgba(0, 0, 0, 0.5);
                      color: #fff;
                      transition: background-color 0.3s ease;
                      border-radius: 50%;
                      width: 00px;
                      height: 200px;
                      overflow: hidden;
                      color: black;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-size: contain;
                      background-position: center;
                      position: relative;
    
                      &:hover {
                          .img-upload-section{
                              bottom: 0%;
                          }
                      
                  }
    
                  .img-upload-section {
                      position: absolute;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      z-index: 1;
                      width: 100%;
                      height: 100%;
                      bottom: -100%;
                      transition: all 0.5s ease;
                      background-color: rgba(0,0,0,0.8);
                      color: white;
                      .text {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          font-size: 16px;
    
                          span {
                              margin-left: 5px;
                          }
                      }
    
                      .showImage {
                          display: block;
                          width: 100%;
                          height: auto;
                          border-radius: 5px;
                          margin-top: 10px;
                      }
                  }
    
                  #item-image {
                      display: none;
                  }
              }
    
              .input-fields {

                  .form {
                  //     display: flex;
                      flex-direction: column;
                  //     align-items: ;
                  justify-content: center;
                      gap: 10px;
                  //     max-width: 3//50px;
                      padding: 20px;
                      border-radius: 20px;
                      position: relative;
                    }
                    
                    
                    .title {
                      font-size: 28px;
                      color: var(--main-color);
                      font-weight: 600;
                      letter-spacing: -1px;
                      position: relative;
                      display: flex;
                      align-items: center;
                      padding-left: 30px;
                    }
                    
                    .title::before,.title::after {
                      position: absolute;
                      content: "";
                      height: 16px;
                      width: 16px;
                      border-radius: 50%;
                      left: 0px;
                      background-color: var(--main-color);
                    }
                    
                    .title::before {
                      width: 18px;
                      height: 18px;
                      background-color: var(--main-color);
                    }
                    
                    .title::after {
                      width: 18px;
                      height: 18px;
                      animation: pulse 1s linear infinite;
                    }
                    
                   
                  
                    
                    .signin {
                      text-align: center;
                      width: 100%;
                    }
                    
                    .signin a {
                      color: var(--main-color);
                      cursor: pointer;
                    }
                    
                    .signin a:hover {
                      text-decoration: underline var(--main-color);
                    }
                    
                    .flex {
                      display: flex;
                      width: 100%;
                      gap: 6px;
                    }
                    
                    .form label {
                      position: relative;
                    }
                    
                    .form label .input {
                      width: 100%;
                      padding: 15px 0 15px 0;
                      outline: 0;
                      border: 1px solid rgba(105, 105, 105, 0.397);
                      border-radius: 3px;
                      background-color: rgba(255, 255, 255, 0.3);
                      margin-bottom: 20px;
                    }
                    
                    .form label .input + span {
                      position: absolute;
                      left: 10px;
                      top: 15px;
                      color: grey;
                      font-size: 0.9em;
                      cursor: text;
                      transition: 0.3s ease;
                    }
                    
                    .form label .input:placeholder-shown + span {
                      top: 15px;
                      font-size: 0.9em;
                    }
                    
                    .form label .input:focus + span,.form label .input:valid + span {
                      top: 30px;
                      font-size: 0.7em;
                      font-weight: 600;
                    }
                    
                    .form label .input:valid + span {
                      color: green;
                    }
                    
                    .submit {
                      border: none;
                      outline: none;
                      background-color: #093660;
                      padding: 10px;
                      border-radius: 3px;
                      color: #fcfcfc;
                      font-size: 16px;
                      transform: .3s ease;
                      margin-top: 10px;
                      width: 100%;
                      padding: 0px auto;
                    }
                    
                    .submit:hover {
                      filter: brightness(0.7);
                      cursor: pointer;
                    }
                    
                    @keyframes pulse {
                      from {
                        transform: scale(0.9);
                        opacity: 1;
                      }
                    
                      to {
                        transform: scale(1.8);
                        opacity: 0;
                      }
                    }
              }
          }
    
      }
    }
    .custom-select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    }
    
    /* Optional: Style the dropdown arrow */
    .custom-select::after {
    content: '\25BC'; /* Unicode character for a downward-pointing triangle */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
    pointer-events: none;
    }
    
    /* Optional: Style the selected option */
    .custom-select option {
    background-color: rgba(255, 255, 255, 0.634);
    color: #333;
    }
    .top-bar{
      display: none !important;
    }